.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilos para el contenedor del menú */
.menu-container {
  text-align: center;
  padding-top: 50px;
}

.menu-heading {
  font-size: 28px;
  margin-bottom: 20px;
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-list-item {
  margin-bottom: 10px;
}

.menu-link {
  text-decoration: none;
  color: #4CAF50;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}

.menu-link:hover {
  color: #45a049;
}

/* Estilos para el formulario de registro de usuario */
.register-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-color: white;
  padding: 30px;
  margin-left: 40px;
  width: 90%;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  color: black;
  /*transition: transform 0.2s ease-in-out;*/
  min-height: 80vh; /* para que no se vea en blanco al hacer zoom */
}

.register-user-input {
  padding: 10px;
  margin: 10px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.register-user-button {
  padding: 10px;
  width: 320px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-user-button:hover {
  background-color: #45a049;
}

/* Estilos para la tabla de usuarios y roles */
.table {
  width: 80%;
  border-collapse: collapse;
}

.th, .td {
  padding: 10px;
  border: 1px solid #ddd;
}

.th {
  background-color: #4CAF50;
  color: white;
  text-align: left;
}

.tr:hover {
  background-color: #f1f1f1;
}
/* Estilos para el formulario de registrar rol */
.register-role-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff; /* rojo vibrante */
  padding: 30px;
  margin-left: 40px;
  width: 90%;
  /*max-width: 1000px;*/
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  color: black;
  /*transition: transform 0.2s ease-in-out;*/
  min-height: 80vh; /* para que no se vea en blanco al hacer zoom */

}

.register-role-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.register-role-input {
  padding: 10px;
  margin: 10px;
  width: 19%;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.register-role-button {
  padding: 10px;
  width: 320px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.register-role-button:hover {
  background-color: #45a049;
}
/* Estilos para el formulario de login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.login-heading {
  font-size: 28px;
  margin-bottom: 30px;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  padding: 10px;
  margin: 10px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.login-button {
  padding: 10px;
  width: 320px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #45a049;
}


/*SIDE MENU***************************/
/* Estilos para el menú lateral */
.side-menu {
  width: 250px;
  height: 100vh;
  background-color: #333;
  color: white;
  padding-top: 20px;
  position: fixed;
  transition: all 0.3s ease;
}

/* Estilos para el encabezado del menú lateral */
.menu-heading {
  color: #fff;
  text-align: center;
}

/* Estilos para los elementos del menú */
.menu-item {
  padding: 15px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  display: block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #444;
}

/* Estilos para los íconos */
.menu-icon {
  margin-right: 10px;
}

.icon {
  float: right;
}

/* Estilos para los submenús */
.sub-menu {
  padding-left: 20px;
  padding-top: 10px;
  display: block;
  overflow: hidden; /* Ocultar cualquier contenido fuera del submenú */
  transition: max-height 0.1s ease-out, padding-top 0.3s ease;  /* Animación para la altura y el deslizamiento */
  max-height: 0;
  padding-top: 0; /* Empezamos con el padding-top en 0 */
}

/* Mostrar el submenú cuando esté activo */
.sub-menu.show {
  max-height: 500px; /* Control de la altura máxima */
  padding-top: 10px; /* Agregar padding al submenú cuando se despliega */
}

/* Estilos para los enlaces de los submenús */
.sub-menu-item {
  padding: 10px;
  text-decoration: none;
  color: white;
  display: block;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.sub-menu-item:hover {
  background-color: #444;
}

/*REGISTER ROLE*/

.register-role-select {
  width: 20%;
  padding: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/*SIDE MENU************************/



/*********/

/* Contenedor general para los paneles (listar usuarios, registrar, etc.) */
.panel-container {
  background-color: #ffffff; /* rojo vibrante */
  padding: 30px;
  margin-left: 40px;
  width: 90%;
  /*max-width: 1000px;*/
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  color: black;
  /*transition: transform 0.2s ease-in-out;*/
  min-height: 80vh; /* para que no se vea en blanco al hacer zoom */

}
/*
.panel-container:hover {
  transform: scale(1.01);
}*/



